/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);





.contact_form{  
  width: 50rem; 
  height: auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
  padding-right: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 708px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 705px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
   
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}



button p{
  color: #fff; 
}





.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


.hache1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 

}


.hache3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


.parrafo{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.imgform{
  width: auto;
  height: auto;
}

/* creado por javiniguez.com, Julio 2019 */